/* ./src/styles/app.css */
@tailwind base;

* {
    scrollbar-width: thin;
    scrollbar-color: #0E3B20 #0E3B20;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #0E3B20;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #071C0F;
    /*border-radius: 14px;*/
    border: 3px solid #071C0F;
}

@tailwind components;
@tailwind utilities;

.card-bg-border {
    @apply rounded bg-gradient-to-tr from-green-600 via-green-700 to-green-700 border-green-600 border;
}

html, .charts {
    background-color: #071C0F;
}

.layout-container {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 0.8fr 0.8fr;
    grid-template-rows: 0.2fr 1.7fr;
    gap: 0 0;
    grid-template-areas:
    "charts charts charts bet-display"
    "betting-area betting-area betting-area spin-table";
}

.layout-container-home {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 0.5fr 1.2fr;
    gap: 1rem 1rem;
    grid-template-areas:
    "top-left side-pane"
    "bottom-left side-pane";
}

.top-left { grid-area: top-left}
.bottom-left { grid-area: bottom-left }

.side-pane {
    grid-area: side-pane;
    grid-row: 1 / span 2
}
/*.stats {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr 1fr;*/
/*    grid-template-rows: 1fr;*/
/*    gap: 0 0;*/
/*    grid-template-areas:*/
/*    "bank-display total-won total-lost current-winnings";*/
/*    grid-area: stats;*/
/*}*/
.bank-display { grid-area: bank-display; }
.total-won { grid-area: total-won; }
.total-lost { grid-area: total-lost; }
.current-winnings { grid-area: current-winnings; }
.spin-table { grid-area: spin-table; }
.betting-area {
    display: grid;
    place-items: center;
    grid-template-columns: 0.7fr 1.7fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0 0;
    grid-template-areas:
    "wheel betting-table"
    "spin-buttons chips-panel";
    grid-area: betting-area;
}
.wheel { grid-area: wheel; }
.betting-table { grid-area: betting-table; }

.bet-display {
    display: grid;
    grid-area: bet-display;
}

.spin-buttons { grid-area: spin-buttons; }
.chips-panel { grid-area: chips-panel; }
.charts {
    display: grid;
    grid-template-columns: 1.1fr 1.3fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 0 1rem;
    grid-template-areas:
    "win-loss-bank-chart this-round this-round";
    grid-area: charts;
}
.hits-chart { grid-area: chips-panel; }
.win-loss-bank-chart { grid-area: win-loss-bank-chart; }
.win-loss-chart { grid-area: win-loss-chart; }

.this-round { grid-area: this-round }

.main-message-toast .Vue-Toastification__toast--error {
    background-color: #b91c1c;
}

.dc-chart .empty-chart .pie-slice path {
    fill: #14532D;
}

/*.dc-chart svg rect {*/
/*    stroke: red;*/
/*    stroke-width: 0.5;*/
/*}*/

g.axis, g.axis.y, g.axis.x, g.axis.yr { color: #858F97; }

.dc-chart text.y-axis-label.y-label,
.dc-chart text.y-axis-label.yr-label,
.dc-chart g.dc-legend-item text {
    fill: white;
}

.dc-chart svg g g.axis path,
.dc-chart svg g g.axis.x path,
.dc-chart svg g g.tick line {
    display: none
}

.dc-chart svg g g.axis.y path, svg g g.axis.yr path {
    display: none;
}

#win-loss-row-chart svg g g.axis {
    display: none;
}

#win-loss-chart.dc-chart .x.axis text {
    display: none;
}

/*#win-loss-chart {*/
/*    min-height: 200px;*/
/*}*/

/*#win-loss-row-chart {*/
/*    min-height: 200px*/
/*}*/

/*#hits-chart {*/
/*    min-height: 200px*/
/*}*/

.d3-tip {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    /*padding: 20px;*/
    pointer-events: none !important;
    color: white;
    box-shadow: 0 4px 20px 4px rgba(0, 20, 60, .1), 0 4px 80px -8px rgba(0, 20, 60, .2);
    background-color: #0A2916;
    border-radius: 0.25rem
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #0A2916;
    position: absolute;
    pointer-events: none;
    border-right: 0.25em;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "▼";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "◀";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "▲";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "▶";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

#table {
    max-height: 350px;
}

.spot-h {
    height: 2.5rem;
    width: 2.5rem;
}

.chip-spot {
    max-height: 25px;
    max-width: 25px;
    overflow: hidden;
}

.spot-h:hover {
    max-height: 100%;
    max-width: 200%;
    overflow: auto;
    border: solid 1px red;
}

.sgl_37 {
    height: 46%;
    left: 3.25%;
    top: 7.5%;
}

.dbl_0_3,
.sgl_3,
.sgl_6,
.sgl_9,
.sgl_12,
.sgl_15,
.sgl_18,
.sgl_21,
.sgl_24,
.sgl_27,
.sgl_30,
.sgl_33,
.sgl_36,
.dbl_3_6,
.dbl_6_9,
.dbl_9_12,
.dbl_12_15,
.dbl_15_18,
.dbl_18_21,
.dbl_21_24,
.dbl_24_27,
.dbl_27_30,
.dbl_30_33,
.dbl_33_36 {
    top: 9%;
}

.str_0_3_2,
.dbl_3_2,
.sqr_3_6_2_5,
.dbl_6_5,
.sqr_6_9_5_8,
.dbl_9_8,
.sqr_9_12_8_11,
.dbl_12_11,
.sqr_12_15_11_14,
.dbl_15_14,
.sqr_15_18_14_17,
.dbl_18_17,
.sqr_18_21_17_20,
.dbl_21_20,
.sqr_21_24_20_23,
.dbl_24_23,
.sqr_24_27_23_26,
.dbl_27_26,
.sqr_27_30_26_29,
.dbl_30_29,
.sqr_30_33_29_32,
.dbl_33_32,
.sqr_33_36_32_35,
.dbl_36_35 {
    top: 17%;
}

.dbl_0_2,
.sgl_2,
.sgl_5,
.sgl_8,
.sgl_11,
.sgl_14,
.sgl_17,
.sgl_20,
.sgl_23,
.sgl_26,
.sgl_29,
.sgl_32,
.sgl_35,
.dbl_2_5,
.dbl_5_8,
.dbl_8_11,
.dbl_11_14,
.dbl_14_17,
.dbl_17_20,
.dbl_20_23,
.dbl_23_26,
.dbl_26_29,
.dbl_29_32,
.dbl_32_35 {
    top: 26.5%;
}

.str_0_2_1,
.dbl_2_1,
.sqr_2_5_1_4,
.dbl_5_4,
.sqr_5_8_4_7,
.dbl_8_7,
.sqr_8_11_7_10,
.dbl_11_10,
.sqr_11_14_10_13,
.dbl_14_13,
.sqr_14_17_13_16,
.dbl_17_16,
.sqr_17_20_16_19,
.dbl_20_19,
.sqr_20_23_19_22,
.dbl_23_22,
.sqr_23_26_22_25,
.dbl_26_25,
.sqr_26_29_25_28,
.dbl_29_28,
.sqr_29_32_28_31,
.dbl_32_31,
.sqr_32_35_31_34,
.dbl_35_34 {
    top: 36.5%;
}

.dbl_0_1,
.sgl_1,
.sgl_4,
.sgl_7,
.sgl_10,
.sgl_13,
.sgl_16,
.sgl_19,
.sgl_22,
.sgl_25,
.sgl_28,
.sgl_31,
.sgl_34,
.dbl_1_4,
.dbl_4_7,
.dbl_7_10,
.dbl_10_13,
.dbl_13_16,
.dbl_16_19,
.dbl_19_22,
.dbl_22_25,
.dbl_25_28,
.dbl_28_31,
.dbl_31_34 {
    top: 44.5%;
}

.str_3_2_1,
.line_3_6_2_5_1_4,
.str_6_5_4,
.line_6_9_5_8_4_7,
.str_9_8_7,
.line_9_12_8_11_7_10,
.str_12_11_10,
.line_12_15_11_14_10_13,
.str_15_14_13,
.line_15_18_14_17_13_16,
.str_18_17_16,
.line_18_21_17_20_16_19,
.str_21_20_19,
.line_21_24_20_23_19_22,
.str_24_23_22,
.line_24_27_23_26_22_25,
.str_27_26_25,
.line_27_30_26_29_25_28,
.str_30_29_28,
.line_30_33_29_32_28_31,
.str_33_32_31,
.line_33_36_32_35_31_34,
.str_36_35_34 {
    top: 52%
}

.dbl_0_3,
.dbl_0_2,
.dbl_0_1,
.str_0_3_2,
.str_0_2_1 {
    left: 6%;
}

.sgl_3,
.sgl_2,
.sgl_1,
.dbl_2_1,
.dbl_3_2,
.str_3_2_1 {
    left: 10%;
}

.dbl_3_6,
.dbl_2_5,
.sqr_2_5_1_4,
.dbl_1_4,
.sqr_3_6_2_5,
.line_3_6_2_5_1_4 {
    left: 13%;
}

.sgl_6,
.sgl_5,
.sgl_4,
.dbl_5_4,
.str_6_5_4,
.dbl_6_5 {
    left: 16.5%;
}

.dbl_6_9,
.sqr_6_9_5_8,
.dbl_5_8,
.sqr_5_8_4_7,
.dbl_4_7,
.line_6_9_5_8_4_7 {
    left: 20%;
}

.sgl_9,
.sgl_8,
.sgl_7,
.str_9_8_7,
.dbl_9_8,
.dbl_8_7 {
    left: 23.5%;
}

.dbl_9_12,
.sqr_9_12_8_11,
.dbl_8_11,
.sqr_8_11_7_10,
.dbl_7_10,
.line_9_12_8_11_7_10 {
    left: 27%;
}

.sgl_12,
.sgl_11,
.sgl_10,
.dbl_12_11,
.dbl_11_10,
.str_12_11_10 {
    left: 30.5%;
}

.dbl_12_15,
.sqr_12_15_11_14,
.dbl_11_14,
.sqr_11_14_10_13,
.dbl_10_13,
.line_12_15_11_14_10_13 {
    left: 33.75%;
}

.sgl_15,
.sgl_14,
.sgl_13,
.dbl_15_14,
.dbl_14_13,
.str_15_14_13 {
    left: 37.5%;
}

.dbl_15_18,
.sqr_15_18_14_17,
.dbl_14_17,
.sqr_14_17_13_16,
.dbl_13_16,
.line_15_18_14_17_13_16 {
    left: 41%;
}

.sgl_18,
.sgl_17,
.sgl_16,
.dbl_18_17,
.dbl_17_16,
.str_18_17_16 {
    left: 44.1%;
}

.dbl_18_21,
.sqr_18_21_17_20,
.dbl_17_20,
.sqr_17_20_16_19,
.dbl_16_19,
.line_18_21_17_20_16_19 {
    left: 47.7%;
}

.sgl_21,
.sgl_20,
.sgl_19,
.dbl_21_20,
.dbl_20_19,
.str_21_20_19 {
    left: 51.2%;
}

.dbl_21_24,
.sqr_21_24_20_23,
.dbl_20_23,
.sqr_20_23_19_22,
.dbl_19_22,
.line_21_24_20_23_19_22 {
    left: 54.5%;
}

.sgl_24,
.sgl_23,
.sgl_22,
.dbl_24_23,
.dbl_23_22,
.str_24_23_22 {
    left: 58%;
}

.dbl_24_27,
.sqr_24_27_23_26,
.dbl_23_26,
.sqr_23_26_22_25,
.dbl_22_25,
.line_24_27_23_26_22_25 {
    left: 61.5%;
}

.sgl_27,
.sgl_26,
.sgl_25,
.dbl_27_26,
.dbl_26_25,
.str_27_26_25 {
    left: 65%;
}

.dbl_27_30,
.sqr_27_30_26_29,
.dbl_26_29,
.sqr_26_29_25_28,
.dbl_25_28,
.line_27_30_26_29_25_28 {
    left: 68.5%;
}

.sgl_30,
.sgl_29,
.sgl_28,
.dbl_30_29,
.dbl_29_28,
.str_30_29_28 {
    left: 72%;
}

.dbl_30_33,
.sqr_30_33_29_32,
.dbl_29_32,
.sqr_29_32_28_31,
.dbl_28_31,
.line_30_33_29_32_28_31 {
    left: 75.25%;
}

.sgl_33,
.sgl_32,
.sgl_31,
.dbl_33_32,
.dbl_32_31,
.str_33_32_31 {
    left: 78.75%;
}

.dbl_33_36,
.sqr_33_36_32_35,
.dbl_32_35,
.sqr_32_35_31_34,
.dbl_31_34,
.line_33_36_32_35_31_34 {
    left: 82.25%;
}

.sgl_36,
.sgl_35,
.sgl_34,
.dbl_36_35,
.dbl_35_34,
.str_36_35_34 {
    left: 85.5%;
}

.twelve_first {
    left: 10.5%;
    top: 63.25%
}

.spot-h.twelve_first {
    width: 25%;
}

.twelve_second {
    width: 25%;
    left: 38%;
    top: 63.25%
}

.twelve_third {
    width: 25%;
    left: 65%;
    top: 63.25%
}

.one_18 {
    width: 12.2%;
    left: 9%;
    top: 80%
}

.nineteen_36 {
    width: 12%;
    left: 78%;
    top: 80%
}

.odd {
    width: 13%;
    left: 63.75%;
    top: 80%
}

.even {
    width: 12.2%;
    left: 23%;
    top: 80%
}

.red {
    width: 12.2%;
    left: 36%;
    top: 80%
}

.black {
    width: 13%;
    left: 50%;
    top: 80%
}

.row_first {
    left: 92.5%;
    top: 8.5%
}

.row_second {
    left: 92.5%;
    top: 26%
}

.row_third {
    left: 92.5%;
    top: 44%
}

/* ------------- */
.spot:hover,
._zero:hover ~ ._0,
.str_0_3_2:hover ~ ._0,
.str_0_3_2:hover ~ ._3,
.str_0_3_2:hover ~ ._2,
.str_0_2_1:hover ~ ._0,
.str_0_2_1:hover ~ ._2,
.str_0_2_1:hover ~ ._1,
.dbl_0_3:hover ~ ._3,
.dbl_0_2:hover ~ ._2,
.dbl_0_1:hover ~ ._1,
.dbl_0_3:hover ~ ._0,
.dbl_0_2:hover ~ ._0,
.dbl_0_1:hover ~ ._0,
.sgl_1:hover ~ ._1,
.sgl_2:hover ~ ._2,
.sgl_3:hover ~ ._3,
.sgl_4:hover ~ ._4,
.sgl_5:hover ~ ._5,
.sgl_6:hover ~ ._6,
.sgl_7:hover ~ ._7,
.sgl_8:hover ~ ._8,
.sgl_9:hover ~ ._9,
.sgl_10:hover ~ ._10,
.sgl_11:hover ~ ._11,
.sgl_12:hover ~ ._12,
.sgl_13:hover ~ ._13,
.sgl_14:hover ~ ._14,
.sgl_15:hover ~ ._15,
.sgl_16:hover ~ ._16,
.sgl_17:hover ~ ._17,
.sgl_18:hover ~ ._18,
.sgl_19:hover ~ ._19,
.sgl_20:hover ~ ._20,
.sgl_21:hover ~ ._21,
.sgl_22:hover ~ ._22,
.sgl_23:hover ~ ._23,
.sgl_24:hover ~ ._24,
.sgl_25:hover ~ ._25,
.sgl_26:hover ~ ._26,
.sgl_27:hover ~ ._27,
.sgl_28:hover ~ ._28,
.sgl_29:hover ~ ._29,
.sgl_30:hover ~ ._30,
.sgl_31:hover ~ ._31,
.sgl_32:hover ~ ._32,
.sgl_33:hover ~ ._33,
.sgl_34:hover ~ ._34,
.sgl_35:hover ~ ._35,
.sgl_36:hover ~ ._36,
.dbl_3_6:hover ~ ._3_6,
.dbl_6_9:hover ~ ._6_9,
.dbl_9_12:hover ~ ._9_12,
.dbl_12_15:hover ~ ._12_15,
.dbl_15_18:hover ~ ._15_18,
.dbl_18_21:hover ~ ._18_21,
.dbl_21_24:hover ~ ._21_24,
.dbl_24_27:hover ~ ._24_27,
.dbl_27_30:hover ~ ._27_30,
.dbl_30_33:hover ~ ._30_33,
.dbl_33_36:hover ~ ._33_36,
.dbl_3_2:hover ~ ._3_2,
.sqr_3_6_2_5:hover ~ ._3_6_2_5,
.dbl_6_5:hover ~ ._6_5,
.sqr_6_9_5_8:hover ~ ._6_9_5_8,
.dbl_9_8:hover ~ ._9_8,
.sqr_9_12_8_11:hover ~ ._9_12_8_11,
.dbl_12_11:hover ~ ._12_11,
.sqr_12_15_11_14:hover ~ ._12_15_11_14,
.dbl_15_14:hover ~ ._15_14,
.sqr_15_18_14_17:hover ~ ._15_18_14_17,
.dbl_18_17:hover ~ ._18_17,
.sqr_18_21_17_20:hover ~ ._18_21_17_20,
.dbl_21_20:hover ~ ._21_20,
.sqr_21_24_20_23:hover ~ ._21_24_20_23,
.dbl_24_23:hover ~ ._24_23,
.sqr_24_27_23_26:hover ~ ._24_27_23_26,
.dbl_27_26:hover ~ ._27_26,
.sqr_27_30_26_29:hover ~ ._27_30_26_29,
.dbl_30_29:hover ~ ._30_29,
.sqr_30_33_29_32:hover ~ ._30_33_29_32,
.dbl_33_32:hover ~ ._33_32,
.sqr_33_36_32_35:hover ~ ._33_36_32_35,

.row_first:hover ~ ._3,
.row_first:hover ~ ._6,
.row_first:hover ~ ._9,
.row_first:hover ~ ._12,
.row_first:hover ~ ._15,
.row_first:hover ~ ._18,
.row_first:hover ~ ._21,
.row_first:hover ~ ._24,
.row_first:hover ~ ._27,
.row_first:hover ~ ._30,
.row_first:hover ~ ._33,
.row_first:hover ~ ._36,

.row_second:hover ~ ._2,
.row_second:hover ~ ._5,
.row_second:hover ~ ._8,
.row_second:hover ~ ._11,
.row_second:hover ~ ._14,
.row_second:hover ~ ._17,
.row_second:hover ~ ._20,
.row_second:hover ~ ._23,
.row_second:hover ~ ._26,
.row_second:hover ~ ._29,
.row_second:hover ~ ._32,
.row_second:hover ~ ._35,

.row_third:hover ~ ._1,
.row_third:hover ~ ._4,
.row_third:hover ~ ._7,
.row_third:hover ~ ._10,
.row_third:hover ~ ._13,
.row_third:hover ~ ._16,
.row_third:hover ~ ._19,
.row_third:hover ~ ._22,
.row_third:hover ~ ._25,
.row_third:hover ~ ._28,
.row_third:hover ~ ._31,
.row_third:hover ~ ._34,

.dbl_36_35:hover ~ ._36_35,
.dbl_2_5:hover ~ ._2,
.dbl_2_5:hover ~ ._5,
.dbl_5_8:hover ~ ._5,
.dbl_5_8:hover ~ ._8,
.dbl_8_11:hover ~ ._8,
.dbl_8_11:hover ~ ._11,
.dbl_11_14:hover ~ ._11,
.dbl_11_14:hover ~ ._14,
.dbl_14_17:hover ~ ._14,
.dbl_14_17:hover ~ ._17,
.dbl_17_20:hover ~ ._17,
.dbl_17_20:hover ~ ._20,
.dbl_20_23:hover ~ ._20,
.dbl_20_23:hover ~ ._23,
.dbl_23_26:hover ~ ._23,
.dbl_23_26:hover ~ ._26,
.dbl_26_29:hover ~ ._26,
.dbl_26_29:hover ~ ._29,
.dbl_29_32:hover ~ ._29,
.dbl_29_32:hover ~ ._32,
.dbl_32_35:hover ~ ._32,
.dbl_32_35:hover ~ ._35,
.dbl_2_1:hover ~ ._2,
.dbl_2_1:hover ~ ._1,
.sqr_2_5_1_4:hover ~ ._2,
.sqr_2_5_1_4:hover ~ ._5,
.sqr_2_5_1_4:hover ~ ._1,
.sqr_2_5_1_4:hover ~ ._4,
.dbl_5_4:hover ~ ._5,
.dbl_5_4:hover ~ ._4,
.sqr_5_8_4_7:hover ~ ._5,
.sqr_5_8_4_7:hover ~ ._8,
.sqr_5_8_4_7:hover ~ ._4,
.sqr_5_8_4_7:hover ~ ._7,
.dbl_8_7:hover ~ ._8,
.dbl_8_7:hover ~ ._7,
.sqr_8_11_7_10:hover ~ ._8,
.sqr_8_11_7_10:hover ~ ._11,
.sqr_8_11_7_10:hover ~ ._7,
.sqr_8_11_7_10:hover ~ ._10,
.dbl_11_10:hover ~ ._11,
.dbl_11_10:hover ~ ._10,
.sqr_11_14_10_13:hover ~ ._11,
.sqr_11_14_10_13:hover ~ ._14,
.sqr_11_14_10_13:hover ~ ._10,
.sqr_11_14_10_13:hover ~ ._13,
.dbl_14_13:hover ~ ._14,
.dbl_14_13:hover ~ ._13,
.sqr_14_17_13_16:hover ~ ._14,
.sqr_14_17_13_16:hover ~ ._17,
.sqr_14_17_13_16:hover ~ ._13,
.sqr_14_17_13_16:hover ~ ._16,
.dbl_17_16:hover ~ ._17,
.dbl_17_16:hover ~ ._16,
.sqr_17_20_16_19:hover ~ ._17,
.sqr_17_20_16_19:hover ~ ._20,
.sqr_17_20_16_19:hover ~ ._16,
.sqr_17_20_16_19:hover ~ ._19,
.dbl_20_19:hover ~ ._20,
.dbl_20_19:hover ~ ._19,
.sqr_20_23_19_22:hover ~ ._20,
.sqr_20_23_19_22:hover ~ ._23,
.sqr_20_23_19_22:hover ~ ._19,
.sqr_20_23_19_22:hover ~ ._22,
.dbl_23_22:hover ~ ._23,
.dbl_23_22:hover ~ ._22,
.sqr_23_26_22_25:hover ~ ._23,
.sqr_23_26_22_25:hover ~ ._26,
.sqr_23_26_22_25:hover ~ ._22,
.sqr_23_26_22_25:hover ~ ._25,
.dbl_26_25:hover ~ ._26,
.dbl_26_25:hover ~ ._25,
.sqr_26_29_25_28:hover ~ ._26,
.sqr_26_29_25_28:hover ~ ._29,
.sqr_26_29_25_28:hover ~ ._25,
.sqr_26_29_25_28:hover ~ ._28,
.dbl_29_28:hover ~ ._29,
.dbl_29_28:hover ~ ._28,
.sqr_29_32_28_31:hover ~ ._29,
.sqr_29_32_28_31:hover ~ ._32,
.sqr_29_32_28_31:hover ~ ._28,
.sqr_29_32_28_31:hover ~ ._31,
.dbl_32_31:hover ~ ._32,
.dbl_32_31:hover ~ ._31,
.sqr_32_35_31_34:hover ~ ._32,
.sqr_32_35_31_34:hover ~ ._35,
.sqr_32_35_31_34:hover ~ ._31,
.sqr_32_35_31_34:hover ~ ._34,
.dbl_35_34:hover ~ ._35,
.dbl_35_34:hover ~ ._34,
.dbl_1_4:hover ~ ._1,
.dbl_1_4:hover ~ ._4,
.dbl_4_7:hover ~ ._4,
.dbl_4_7:hover ~ ._7,
.dbl_7_10:hover ~ ._7,
.dbl_7_10:hover ~ ._10,
.dbl_10_13:hover ~ ._10,
.dbl_10_13:hover ~ ._13,
.dbl_13_16:hover ~ ._13,
.dbl_13_16:hover ~ ._16,
.dbl_16_19:hover ~ ._16,
.dbl_16_19:hover ~ ._19,
.dbl_19_22:hover ~ ._19,
.dbl_19_22:hover ~ ._22,
.dbl_22_25:hover ~ ._22,
.dbl_22_25:hover ~ ._25,
.dbl_25_28:hover ~ ._25,
.dbl_25_28:hover ~ ._28,
.dbl_28_31:hover ~ ._28,
.dbl_28_31:hover ~ ._31,
.dbl_31_34:hover ~ ._31,
.dbl_31_34:hover ~ ._34,
.str_3_2_1:hover ~ ._3,
.str_3_2_1:hover ~ ._2,
.str_3_2_1:hover ~ ._1,
.line_3_6_2_5_1_4:hover ~ ._3,
.line_3_6_2_5_1_4:hover ~ ._6,
.line_3_6_2_5_1_4:hover ~ ._2,
.line_3_6_2_5_1_4:hover ~ ._5,
.line_3_6_2_5_1_4:hover ~ ._1,
.line_3_6_2_5_1_4:hover ~ ._4,
.str_6_5_4:hover ~ ._6,
.str_6_5_4:hover ~ ._5,
.str_6_5_4:hover ~ ._4,
.line_6_9_5_8_4_7:hover ~ ._6,
.line_6_9_5_8_4_7:hover ~ ._9,
.line_6_9_5_8_4_7:hover ~ ._5,
.line_6_9_5_8_4_7:hover ~ ._8,
.line_6_9_5_8_4_7:hover ~ ._4,
.line_6_9_5_8_4_7:hover ~ ._7,
.str_9_8_7:hover ~ ._9,
.str_9_8_7:hover ~ ._8,
.str_9_8_7:hover ~ ._7,
.line_9_12_8_11_7_10:hover ~ ._9,
.line_9_12_8_11_7_10:hover ~ ._12,
.line_9_12_8_11_7_10:hover ~ ._8,
.line_9_12_8_11_7_10:hover ~ ._11,
.line_9_12_8_11_7_10:hover ~ ._7,
.line_9_12_8_11_7_10:hover ~ ._10,
.str_12_11_10:hover ~ ._12,
.str_12_11_10:hover ~ ._11,
.str_12_11_10:hover ~ ._10,
.line_12_15_11_14_10_13:hover ~ ._12,
.line_12_15_11_14_10_13:hover ~ ._15,
.line_12_15_11_14_10_13:hover ~ ._11,
.line_12_15_11_14_10_13:hover ~ ._14,
.line_12_15_11_14_10_13:hover ~ ._10,
.line_12_15_11_14_10_13:hover ~ ._13,
.str_15_14_13:hover ~ ._15,
.str_15_14_13:hover ~ ._14,
.str_15_14_13:hover ~ ._13,
.line_15_18_14_17_13_16:hover ~ ._15,
.line_15_18_14_17_13_16:hover ~ ._18,
.line_15_18_14_17_13_16:hover ~ ._14,
.line_15_18_14_17_13_16:hover ~ ._17,
.line_15_18_14_17_13_16:hover ~ ._13,
.line_15_18_14_17_13_16:hover ~ ._16,
.str_18_17_16:hover ~ ._18,
.str_18_17_16:hover ~ ._17,
.str_18_17_16:hover ~ ._16,
.line_18_21_17_20_16_19:hover ~ ._18,
.line_18_21_17_20_16_19:hover ~ ._21,
.line_18_21_17_20_16_19:hover ~ ._17,
.line_18_21_17_20_16_19:hover ~ ._20,
.line_18_21_17_20_16_19:hover ~ ._16,
.line_18_21_17_20_16_19:hover ~ ._19,
.str_21_20_19:hover ~ ._21,
.str_21_20_19:hover ~ ._20,
.str_21_20_19:hover ~ ._19,
.line_21_24_20_23_19_22:hover ~ ._21,
.line_21_24_20_23_19_22:hover ~ ._24,
.line_21_24_20_23_19_22:hover ~ ._20,
.line_21_24_20_23_19_22:hover ~ ._23,
.line_21_24_20_23_19_22:hover ~ ._19,
.line_21_24_20_23_19_22:hover ~ ._22,
.str_24_23_22:hover ~ ._24,
.str_24_23_22:hover ~ ._23,
.str_24_23_22:hover ~ ._22,
.line_24_27_23_26_22_25:hover ~ ._24,
.line_24_27_23_26_22_25:hover ~ ._27,
.line_24_27_23_26_22_25:hover ~ ._23,
.line_24_27_23_26_22_25:hover ~ ._26,
.line_24_27_23_26_22_25:hover ~ ._22,
.line_24_27_23_26_22_25:hover ~ ._25,
.str_27_26_25:hover ~ ._27,
.str_27_26_25:hover ~ ._26,
.str_27_26_25:hover ~ ._25,
.line_27_30_26_29_25_28:hover ~ ._27,
.line_27_30_26_29_25_28:hover ~ ._30,
.line_27_30_26_29_25_28:hover ~ ._26,
.line_27_30_26_29_25_28:hover ~ ._29,
.line_27_30_26_29_25_28:hover ~ ._25,
.line_27_30_26_29_25_28:hover ~ ._28,
.str_30_29_28:hover ~ ._30,
.str_30_29_28:hover ~ ._29,
.str_30_29_28:hover ~ ._28,
.line_30_33_29_32_28_31:hover ~ ._30,
.line_30_33_29_32_28_31:hover ~ ._33,
.line_30_33_29_32_28_31:hover ~ ._29,
.line_30_33_29_32_28_31:hover ~ ._32,
.line_30_33_29_32_28_31:hover ~ ._28,
.line_30_33_29_32_28_31:hover ~ ._31,
.str_33_32_31:hover ~ ._33,
.str_33_32_31:hover ~ ._32,
.str_33_32_31:hover ~ ._31,
.line_33_36_32_35_31_34:hover ~ ._33,
.line_33_36_32_35_31_34:hover ~ ._36,
.line_33_36_32_35_31_34:hover ~ ._32,
.line_33_36_32_35_31_34:hover ~ ._35,
.line_33_36_32_35_31_34:hover ~ ._31,
.line_33_36_32_35_31_34:hover ~ ._34,
.str_36_35_34:hover ~ ._36,
.str_36_35_34:hover ~ ._35,
.str_36_35_34:hover ~ ._34,
.one_18:hover ~ ._1,
.one_18:hover ~ ._2,
.one_18:hover ~ ._3,
.one_18:hover ~ ._4,
.one_18:hover ~ ._5,
.one_18:hover ~ ._6,
.one_18:hover ~ ._7,
.one_18:hover ~ ._8,
.one_18:hover ~ ._9,
.one_18:hover ~ ._10,
.one_18:hover ~ ._11,
.one_18:hover ~ ._12,
.one_18:hover ~ ._13,
.one_18:hover ~ ._14,
.one_18:hover ~ ._15,
.one_18:hover ~ ._16,
.one_18:hover ~ ._17,
.one_18:hover ~ ._18,

.nineteen_36:hover ~ ._19,
.nineteen_36:hover ~ ._20,
.nineteen_36:hover ~ ._21,
.nineteen_36:hover ~ ._22,
.nineteen_36:hover ~ ._23,
.nineteen_36:hover ~ ._24,
.nineteen_36:hover ~ ._25,
.nineteen_36:hover ~ ._26,
.nineteen_36:hover ~ ._27,
.nineteen_36:hover ~ ._28,
.nineteen_36:hover ~ ._29,
.nineteen_36:hover ~ ._30,
.nineteen_36:hover ~ ._31,
.nineteen_36:hover ~ ._32,
.nineteen_36:hover ~ ._33,
.nineteen_36:hover ~ ._34,
.nineteen_36:hover ~ ._35,
.nineteen_36:hover ~ ._36,
.twelve_first:hover ~ ._1,
.twelve_first:hover ~ ._2,
.twelve_first:hover ~ ._3,
.twelve_first:hover ~ ._4,
.twelve_first:hover ~ ._5,
.twelve_first:hover ~ ._6,
.twelve_first:hover ~ ._7,
.twelve_first:hover ~ ._8,
.twelve_first:hover ~ ._9,
.twelve_first:hover ~ ._10,
.twelve_first:hover ~ ._11,
.twelve_first:hover ~ ._12,
.twelve_second:hover ~ ._13,
.twelve_second:hover ~ ._14,
.twelve_second:hover ~ ._15,
.twelve_second:hover ~ ._16,
.twelve_second:hover ~ ._17,
.twelve_second:hover ~ ._18,
.twelve_second:hover ~ ._19,
.twelve_second:hover ~ ._20,
.twelve_second:hover ~ ._21,
.twelve_second:hover ~ ._22,
.twelve_second:hover ~ ._23,
.twelve_second:hover ~ ._24,
.twelve_third:hover ~ ._25,
.twelve_third:hover ~ ._26,
.twelve_third:hover ~ ._27,
.twelve_third:hover ~ ._28,
.twelve_third:hover ~ ._29,
.twelve_third:hover ~ ._30,
.twelve_third:hover ~ ._31,
.twelve_third:hover ~ ._32,
.twelve_third:hover ~ ._33,
.twelve_third:hover ~ ._34,
.twelve_third:hover ~ ._35,
.twelve_third:hover ~ ._36,

.even:hover ~ ._2,
.even:hover ~ ._4,
.even:hover ~ ._6,
.even:hover ~ ._8,
.even:hover ~ ._10,
.even:hover ~ ._12,
.even:hover ~ ._14,
.even:hover ~ ._16,
.even:hover ~ ._18,
.even:hover ~ ._20,
.even:hover ~ ._22,
.even:hover ~ ._24,
.even:hover ~ ._26,
.even:hover ~ ._28,
.even:hover ~ ._30,
.even:hover ~ ._32,
.even:hover ~ ._34,
.even:hover ~ ._36,

.odd:hover ~ ._1,
.odd:hover ~ ._3,
.odd:hover ~ ._5,
.odd:hover ~ ._7,
.odd:hover ~ ._9,
.odd:hover ~ ._11,
.odd:hover ~ ._13,
.odd:hover ~ ._15,
.odd:hover ~ ._17,
.odd:hover ~ ._19,
.odd:hover ~ ._21,
.odd:hover ~ ._23,
.odd:hover ~ ._25,
.odd:hover ~ ._27,
.odd:hover ~ ._29,
.odd:hover ~ ._31,
.odd:hover ~ ._33,
.odd:hover ~ ._35,

.red:hover ~ ._1,
.red:hover ~ ._3,
.red:hover ~ ._5,
.red:hover ~ ._7,
.red:hover ~ ._9,
.red:hover ~ ._12,
.red:hover ~ ._14,
.red:hover ~ ._16,
.red:hover ~ ._18,
.red:hover ~ ._19,
.red:hover ~ ._21,
.red:hover ~ ._23,
.red:hover ~ ._25,
.red:hover ~ ._27,
.red:hover ~ ._30,
.red:hover ~ ._32,
.red:hover ~ ._34,
.red:hover ~ ._36,

.black:hover ~ ._2,
.black:hover ~ ._4,
.black:hover ~ ._6,
.black:hover ~ ._8,
.black:hover ~ ._11,
.black:hover ~ ._10,
.black:hover ~ ._13,
.black:hover ~ ._15,
.black:hover ~ ._17,
.black:hover ~ ._20,
.black:hover ~ ._22,
.black:hover ~ ._24,
.black:hover ~ ._26,
.black:hover ~ ._28,
.black:hover ~ ._29,
.black:hover ~ ._31,
.black:hover ~ ._33,
.black:hover ~ ._35
{
    box-shadow: inset 0 0 9px yellow;
    color: yellow;
}
